<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--设置自动包扫描-->
    <context:component-scan base-package="cn.com.app.controller"/>
    <!--设置静态资源释放-->
    <mvc:default-servlet-handler/>
    <!--mcv注解驱动,自动装配在springMVC驱动-->
    <mvc:annotation-driven/>

    <!--设置文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置允许上传的文件最大字节数据-->
        <!-- <property name="maxUploadSize" value="1024000"/>-->
        <!--设置文件上传的编码方式-->
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

    <!-- 配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
 <!--   <mvc:resources mapping="myProjectAssets/**" location="myProjectAssets/"/>-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/appController/**"/>
            <mvc:mapping path="/appCheckController/**"/>
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.apk"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <bean class="cn.com.app.interseptor.PreInterseptor"></bean><!--拦截器的类的地址,可以配多给拦截器,那么下面再重复以上所有一段-->
        </mvc:interceptor>
    </mvc:interceptors>

</beans>